---
import { assetPath } from '~/utils/i18n';

interface Props {
  compact?: boolean;
}

const { compact = false } = Astro.props;
const src = assetPath(compact ? '/branding/hexacybert-symbol.svg' : '/branding/hexacybert-logo-horizontal-dark.svg');
---

<span class="inline-flex items-center gap-3 whitespace-nowrap">
  <img class={compact ? 'h-10 w-10' : 'h-11 w-auto'} src={src} alt="HexaCybert" />
</span>
